body {
  margin: 0;
  padding: 0;
  background-color: hsl(220, 15%, 55%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: nowrap;
}

.box #innerbox {
  width: 275px;
  height: 400px;
  background-color: White;
  border-radius: 20px;
}
.box #innerbox #Qr_img img {
  width: 235px;
  height: 200px;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 30px;
}

.box #innerbox #heading {
  font-size: 17px;
  align-items: center;
  padding-left: 25px;
}

.box #innerbox #heading2 {
  font-size: 15px;
  text-align: center;
  padding-top: -40px;
  color: hsl(218, 45%, 89%);
  padding-right: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
